

.bg-icon_facebook {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -10px -10px;
}


.bg-icon_instagram {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -50px -10px;
}


.bg-icon_twitter {
    width: 20px; height: 17px;
    background: url('../images/css_sprites.png') -50px -50px;
}


.bg-icon_up {
    width: 8px; height: 4px;
    background: url('../images/css_sprites.png') -90px -10px;
}


.bg-icon_youtube {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -10px -50px;
}


.bg-icon_down {
    width: 8px; height: 4px;
    background: url('../images/css_sprites.png') -90px -34px;
}