.theme-toggle {

    &__text {
        color: var(--textL);
        font-weight: 700;
        margin-right: 2rem;

        @include phone {
            margin-right: 0.5rem;
        }
    }

    &__button {

        width: 55px;
        border-radius: 10rem;
        background: black;
        height: 25px;
        position: relative;
        padding: 0.9rem 0.3rem;
        background: $toggleDark;

    }


    &__circle {
        border-radius: 50%;
        background: var(--bgTL);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;

        &--active {
            right: 10%;
            transition: all 0.2s ease-in-out;
            left: calc(100% - 25px);
        }

        &--inactive {
            left: calc(0% + 5px);
            transition: all 0.2s ease-in-out;
        }
    }
}